[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.2"
djangorestframework = "==3.11.2"
django-rest-auth = "==0.9.3"
django-allauth = "==0.38.0"

[dev-packages]

[requires]
python_version = "3.6"
